$main_color: #919eab;
$border_color: #dfe3e8;
$font_color: #212b36;

.pagination {
    margin: 15px auto;
    display: flex;
    list-style: none;
    outline: none;
    justify-content: center;
}
.pagination > .active > a {
    background-color: $main_color;
    border-color: $main_color;
    color: #fff;
}
.pagination > li > a {
    border: 1px solid $border_color;
    border-radius: 4px;
    padding: 8px 15px;
    outline: none;
    cursor: pointer;
    margin: 0 3px;

    &:hover {
        border-color: #666666;
    }
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: $main_color;
    border-color: $main_color;
    color: #fff;
    outline: none;
}
.pagination > li > a,
.pagination > li > span {
    border-color: $border_color;
    color: $border_color;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    color: #c4cdd5;
}
